{% assign projects = site.data.data.projects %}
{% if projects %}
<section class="section projects-section">

  <h2 class="section-title">
    <span class="fa-stack fa-xs">
      <i class="fas fa-circle fa-stack-2x"></i>
      <i class="fas fa-archive fa-stack-1x fa-inverse"></i>
    </span>
    {{ projects.title }}
  </h2>

  {% if projects.intro %}
  <div class="intro">
      <p>{{ projects.intro }}</p>
  </div><!--//intro-->
  {% endif %}

  {% for project in projects.assignments %}
    <div class="item">

      <span class="project-title">
        {% if project.link %}
          <div class="upper-row">
            <a href="{{ project.link }}" target="_blank">{{ project.title }} </a>   
            <div class="time">{{ project.time }}</div>
          </div><!--//upper-row-->
        {% else %}
          <div class="upper-row">
            {{ project.title }} 
            <div class="time">{{ project.time }}</div>
          </div><!--//upper-row-->
          
        {% endif %}
        

      </span>
      <span class="tech-stack" style="display: inline-block; width: 95%; text-align: left;">
        <b>{{ project.stack }}</b>
      </span>
      
      <span class="project-tagline" style="display: inline-block; width: 95%; text-align: left;">
        <b>Details</b>: {{ project.tagline | markdownify }}
      </span>
      <a href="#publications"><b>Achievements</b> {{ project.achievements-summary}} </a> 

      <!-- <span class="project-achievements" style="display: inline-block; width: 95%; text-align: left;">
        <b>Achievements</b> {{ project.achievements-summary}} {{ project.achievements-detail | markdownify }}
      </span> -->

    </div><!--//item-->
  {% endfor %}

</section><!--//section-->
{% endif %}
